.vscode/**
.vscode-test/**
.omc/**
out/**
node_modules/**
src/**
**/*.vsix
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
